
*{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
/* Barra de navegación */
@media screen and (min-width:1200px){
    header{
        background-color: #f60;
        height: auto ;
        width: 100%;
    }
    .barraNav{
        display: block;
        margin: auto;
        background-color: #f60;
        width: 1000px ;
    }
    h1{
        background-image: url(../img/logo.png);
        display: inline;
        float: left;
        height: 10vh;
        width: 20vh;
        background-size: cover;
        text-indent: -400px;
        overflow: hidden;
    }
    header div nav{
        color: white;
        display: inline;
        background-color: #f60;
        width: auto;
        height: 10vh;   
    }
    header div nav ul{
        background-color: #f60;
        float: right;
        margin-top: 4%;
        
    }
    header div nav ul li{
        background-color: #f60;
        display: inline;
        margin: 10px;
        color: white;
    }  
    header nav ul li a{
        text-decoration: none;
        color: white;
        background-color: #f60;
        font-size: medium;
        text-transform: uppercase;  
    }
}
@media screen and (min-width:701px) and (max-width:1199px){
    header{
            background-color: #f60;
            height: auto ;
            width: 100%;
        }
    .barraNav{
        display: block;
        margin: auto;
        background-color: #f60;
        width: 700px ;
    }
    h1{
        background-image: url(../img/logo.png);
        display: inline;
        float: left;
        height: 13%;
        width: 13%;
        margin-top: 1%;
        background-size: cover;
        text-indent: -400px;
        overflow: hidden;
    }
    header div nav{
        color: white;
        display: inline;
        background-color: #f60;
        width: auto;
        height: 1vh;   
    }
    header div nav ul{
        background-color: #f60;
        float: right;
        margin-top: 2%;
        padding-bottom: 1%;
        
    }
    header div nav ul li{
        background-color: #f60;
        display: inline;
        margin: 10px;
        color: white;
        margin-top: 2%;
    }  
    header nav ul li a{
        text-decoration: none;
        color: white;
        background-color: #f60;
        font-size: smaller;
        text-transform: uppercase;  
    }
}

@media screen and (max-width:700px){
    header{
        background-color: #f60;
        height: 5vh ;
        width: 100%;
    }
    .barraNav{
        display: block;
        margin: auto;
        background-color: #f60;
        width: 260px ;
    }
    h1{
        background-image: url(../img/logo.png);
        display: inline;
        float: left;
        height: 6vh;
        width: 6vh;
        margin-top: 2px;
        background-size: cover;
        text-indent: -400px;
        overflow: hidden;
    }
    header div nav{
        color: white;
        display: inline;
        background-color: #f60;
        width: auto;
        height: 5vh;   
    }
    header div nav ul{
        background-color: #f60;
        float: right;
        margin-top: 1%;
        
    }
    header div nav ul li{
        background-color: #f60;
        display: inline;
        margin: 1px;
        color: white;
    }  
    header nav ul li a{
        text-decoration: none;
        color: white;
        background-color: #f60;
        font-size: 10px;
        text-transform: uppercase;  
    }
}
header div nav ul li a:hover {
    color: black;
    font-weight: bold;
}

/* Contenido Index */
main{
    width: auto;
    height: auto;
    display: flex;   
}
@media screen and (min-width:1200px){
    
    .grid{
        display: grid;
        grid-template-columns: 480px 480px;
        grid-template-rows: 300px 500px 500px;
        grid-template-areas: 
        "model model"
        "contact news"
        "ebikes wear";
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    main section h2 a{
        font-size: 40px;
    }
    main section h2 a:hover {
    width: 300px;
    height: 60px;
    font-size: 40px;
    text-shadow: white 6px 5px;
    color: #f60;
}
}
@media screen and (min-width:701px) and (max-width:1199px){
    
    .grid{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 200px 300px 300px 300px 300px;
        grid-template-areas: 
        "model"
        "contact"
        "news"
        "ebikes"
        "wear";
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    main section h2 a{
        font-size: 25px;
    }
}
@media screen  and (max-width:700px){
    
    .grid{
        display: grid;
        grid-template-columns: 260px ;
        grid-template-rows: 50px 150px 150px 150px 150px;
        grid-template-areas: 
        "model"
        "contact"
        "news"
        "ebikes"
        "wear";
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    main section h2 a{
        font-size: 15px;
    }
    main section h2 a:hover {
    width: 300px;
    height: 60px;
    font-size: 20px;
    text-shadow: white 3px 2px;
    color: #f60;
}
}
.model{
    grid-area: model;
    background-image: url(../img/modelos.jpeg);
    background-size: contain;
}
.contact{
    grid-area: contact;
    background-image: url(../img/concesionario.webp);
    background-size: cover;
}
.news{
    grid-area: news;
    background-image: url(../img/news.jpeg);
    background-size: cover;
}
.ebikes{
    grid-area: ebikes;
    background-image: url(../img/ebikes.jpeg);
    background-size: cover;
}
.wear{
    grid-area: wear;
    background-image: url(../img/powerwear.jpeg);
    background-size: cover;
}
h2{
    display: flex;
}
main section h2 a{
    text-decoration: none;
    background: none;
    color: white;
    margin: auto;
    text-transform: uppercase;
    border-radius: 68.5px;
    width: 250px;
    height: 39px;
    text-align: center;
    text-shadow: black 4px 2px;
}
/* Contenido Modelos */
@media screen and (min-width:1200px){
    .contenidoModelos{
        display: grid;
        grid-template-columns: 1200px;
        grid-template-rows: 500px 500px 500px 500px 500px;
        grid-template-areas: 
        "enduro"
        "eride"
        "adventure"
        "naked"
        "supersport";
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:701px) and (max-width:1199px){
    .contenidoModelos{
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 500px 500px 500px 500px 500px;
        grid-template-areas: 
        "enduro"
        "eride"
        "adventure"
        "naked"
        "supersport";
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:700px){
    .contenidoModelos{
        display: grid;
        grid-template-columns: 260px;
        grid-template-rows: 100px 100px 100px 100px 100px;
        grid-template-areas: 
        "enduro"
        "eride"
        "adventure"
        "naked"
        "supersport";
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.enduro{
    grid-area: enduro;
    background-image: url(../img/Modelos/mx.jpeg);
    background-size: cover;
}
.eride{
    grid-area: eride;
    background-image: url(../img/Modelos/eride.jpeg);
    background-size: cover;
}
.adventure{
    grid-area: adventure;
    background-image: url(../img/Modelos/adventure.jpeg);
    background-size: cover;
}
.naked{
    grid-area: naked;
    background-image: url(../img/Modelos/naked.jpeg);
    background-size: cover;
}
.supersport{
    grid-area: supersport;
    background-image: url(../img/Modelos/supersport.jpeg);
    background-size: cover;
}
/* Contenido Contact */
@media screen and (min-width:1200px){
    .mainContacto{
        background-image: url(../img/contact/form.jpeg);
        background-size: cover;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Lato', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 1000px;
        height: 1000px;
        margin: auto;
        padding-top: 5%;
    }
    .titForm{
        margin: 0;
        font-weight: 300;
        font-size: 30px;
        text-shadow: black 2px 2px;
        display: inline;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    .formulario{
        margin-top: 20%;
        padding-top: 5%;
        border-top: 3px solid #f60  ;
        border-bottom: 3px solid #f60;
        background: rgba(255, 255, 255, 0.192);
    }   
    .form{
        margin: auto;
        width: 500px;
        background: none;
        
    }
    .fieldForm{
        margin-bottom:10px;
        width:100%;
        background: none;
    }
    .formfield {
        color:#000000; 
        background: white;
        border:none;
        border-radius: 10px;
        padding:15.5px;
        width:91.9%;
        display:block;
        font-family: 'Lato',Arial,sans-serif;
        font-size:14px;
        }
    .btn{
        display:block;
        border:none;
        border-radius: 5px;
        background:#f60;
        color:white;
        padding:12px 25px;
        cursor:pointer;
        text-decoration:none;
        font-weight:bold;
        margin-left: 40%;
    }

}
@media screen and (min-width:701px) and (max-width:1199px){
.mainContacto{
        background-image: url(../img/contact/form.jpeg);
        background-size: cover;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Lato', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 900px;
        margin: auto;
        padding-top: 5%;
    }
    .titForm{
        margin: 0;
        font-weight: 300;
        font-size: 24px;
        text-shadow: black 2px 2px;
        display: inline;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    .formulario{
        margin-top: 20%;
        padding-top: 5%;
        border-top: 3px solid #f60  ;
        border-bottom: 3px solid #f60;
        background: rgba(255, 255, 255, 0.192);
    }   
    .form{
        margin: auto;
        width: 400px;
        background: none;
        
    }
    .fieldForm{
        margin-bottom:10px;
        width:100%;
        background: none;
    }
    .formfield {
        color:#000000; 
        background: white;
        border:none;
        border-radius: 10px;
        padding:15.5px;
        width:91.9%;
        display:block;
        font-family: 'Lato',Arial,sans-serif;
        font-size:11px;
        }  
    .btn{
        display:block;
        border:none;
        border-radius: 5px;
        background:#f60;
        color:white;
        padding:12px 25px;
        cursor:pointer;
        text-decoration:none;
        font-weight:bold;
        margin-left: 40%;
    }
}
@media screen  and (max-width:700px){
   .mainContacto{
        background-image: url(../img/contact/form.jpeg);
        background-size: cover;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Lato', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 700px;
        margin: auto;
        padding-top: 5%;
    }
    .titForm{
        margin: 0;
        font-weight: 100;
        font-size: 14px;
        text-shadow: black 2px 2px;
        display: inline;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    .formulario{
        margin-top: 20%;
        padding-top: 5%;
        border-top: 3px solid #f60  ;
        border-bottom: 3px solid #f60;
        background: rgba(255, 255, 255, 0.192);
    }   
    .form{
        margin: auto;
        width: 230px;
        background: none;
        
    }
    .fieldForm{
        margin-bottom:10px;
        width:100%;
        background: none;
    }
    .formfield {
        color:#000000; 
        background: white;
        border:none;
        border-radius: 10px;
        padding:15px;
        width:85%;
        display:block;
        font-family: 'Lato',Arial,sans-serif;
        font-size:10px;
        }
    .btn{
        display:block;
        border:none;
        border-radius: 5px;
        background:#f60;
        color:white;
        padding:5px 20px;
        cursor:pointer;
        text-decoration:none;
        font-weight:bold;
        margin-left: 30%;
    } 
}
#sel{
        width: calc(100% - 10px);
    } 
.btn:hover{
    background:black;
}
/* Contenido Footer */
@media screen and (min-width:1200px){
footer {
    background-color: #f60;
    height: 400px ;
    width: auto;
    height: auto;
    padding-bottom: 10%;   
}
footer div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    margin: auto;
    background-color: #f60;
    width: 1000px ;
    color: white;
}
footer div div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
footer div div ul{
    list-style: none;
    margin-top: 2%;

}
footer div div ul li{
    background-color: #f60;
    font-size: small;
}
footer div div h2{
    font-size: medium;
    background-color: #f60;
    text-transform: uppercase;
}
}
@media screen and (min-width:701px) and (max-width:1199px){
footer {
    background-color: #f60;
    height: auto ;
    width: 100%;   
    display: flex;
    padding-bottom: 5%;
}
footer div{
    margin: auto;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    background-color: #f60;
    color: white;
    grid-template-areas: 
        "company world service legal connect";
}

footer div div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}
footer div div ul{
    list-style: none;
    margin-left: 2%;

}
footer div div ul li{
    background-color: #f60;
    font-size: 12px;
}
footer div div h2{
    font-size: 15px;
    background-color: #f60;
    text-transform: uppercase;
}
}
@media screen and (max-width:700px){
footer {
    background-color: #f60;
    height: auto ;
    width: 100%;   
    display: flex;
}
footer div{
    margin: auto;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr ;
    background-color: #f60;
    color: white;
    grid-template-areas: 
        "company world service"
        "connect legal none";
}
footer div div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}
footer div div ul{
    list-style: none;
    margin-left: 2%;

}
footer div div ul li{
    background-color: #f60;
    font-size: 10px;
}
footer div div h2{
    font-size: 10px;
    background-color: #f60;
    text-transform: uppercase;
}
}

.company{
    grid-area: company;
}
.world{
    grid-area: world;
}
.service{
    grid-area: service;
}
.legal{
    grid-area: legal;
}
.connect{
    grid-area: connect;
}
footer div div{
    display: inline-block;
    
}
